<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/yellowrose.jpg" alt="cat profile">
<p>
 Hello!! I'm Anushree. This a blog web app without a database (for now, maybe in future I learn to add one). 
 See if you like it, don't be shy to send back a feedback to me. After this whatever you will read is from Lorem ipsum,
 so if you wanna save time then don't read further. Thanks for visiting & sending a feedback. Bye-Bye !! Lorem ipsum dolor
 sit amet consectetur adipisicing elit. Facere ipsa, veniam dolores minus ducimus est quidem? Odit, repellat animi magnam 
 cupiditate eius rerum dolorem libero? Voluptate commodi nesciunt excepturi? Dignissimos! 
</p>
  
  <%- include("partials/footer.ejs") %>